<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<resultMap id="resultMember" type="Member">
		<id property="mId" column="MID"/>
		<result property="cNum" column="CNUM"/>
		<result property="mPass" column="MPASS"/>
		<result property="mName" column="MNAME"/>
		<result property="mPhone" column="MPHONE"/>
		<result property="mEmail" column="MEMAIL"/>
		<result property="mCoup" column="MCOUP"/>
		<result property="mReser" column="MRESER"/>
		<result property="mQuiz" column="MQUIZ"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginMember" parameterType="string" resultMap="resultMember">
		SELECT * FROM MEMBER
		WHERE MID = #{mId}
	</select>
</mapper> 